<section>

    <div class="container">

        <div class="d-grid gap-2 d-md-block ml-auto">

            <a href="/admin/add-product" class="btn btn-success">Add Product</a>
        </div>

        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sl Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Catogory</th>
                        <th scope="col">Prise</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.Name}}</td>
                        <td>{{this.Catogory}}</td>
                        <td>{{this.Prise}}</td>
                        <td>{{this.Description}}</td>
                        <td><img style="width: 50px; height: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">
                                <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary" >Edit</a>
                                <a href="/admin/delete-product/{{this._id}}"class="btn btn-danger" onclick="return confirm('Do You Want Delite {{this.Name}}?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}



                </tbody>
            </table>
    </div>
</section>
</section>